html, body {
  height: 100%;
}

body {
  color: white;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0;
  background: #021317;
}

h2 {
    font-size: 2.5em;
    font-weight: 100;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.title-bar {
    display:flex;
    height: 11%;
    margin-bottom: 1%;
    flex: 1.5;
}

.title-bar div {
    justify-content: center;
    font-family: "Crimson Text";

}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  opacity: 0.7;
  font-size: 2rem;
  font-weight: 100;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

main {
  flex: 1;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

#date {
    flex:1;
    margin: auto;
}

#title {
    flex: 2;
    text-align: center;
    margin: auto;
}

#time {
    flex: 1;
    margin: auto;
    text-align: right;
}

.box {
  display: flex;
  flex-direction: column;
  border: thin solid #082525;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 42px 1px rgba(255,255,255,0.03);
}

.box__header {
  border-bottom: thin solid #082525;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #082425;
  line-height: 5.5rem;
  color: rgba(80, 227, 194, 0.5);
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  font-weight: 100;
}

.box__content {
  padding: 2rem;
  flex: 1;
}

.box__content--no-padding {
  padding: 0;
}

.left {
  flex: 4;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  border-color: #003333;
  margin-right: 20px;
}

.left .top {
  flex: 2;
  margin-bottom: 2rem;
}

.left .bottom {
  flex: 1;
}

.stats {
  display: flex;
}

.stats__item {
  text-align: center;
  border-left: thin solid #142125;
  display: flex;
  align-items: center;
}

.stats__item:first-child {
  border-left: none;
}

.stats__item > div {
  width: 100%;
}

.stats__item p {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1rem;
}

.stats__item h3 {
  font-size: 1.5rem;
  color: gray;
  margin: 0;
  font-weight: 100;
}

.left-half div {
    justify-content: space-around;
}

.right {
  flex: 3;
  margin-left: 2rem;
}

.Stories-Header{
    flex:0.19;
    border:solid;
    border-color: #003333;
    background-color: #003333;
    font-weight: 50;
}

.Story-Header{
    color: #246e62;
    margin-top: 25px;
    margin-left: 25px;
}

.articles {
  display: table;
}

.article {
  display: table-row;
  font-size: 2rem;
}

.article > div {
  display: table-cell;
  padding-bottom: 2rem;
}

.article .number,
.article .view {
  font-weight: 100;
  opacity: 0.5;
}

.article .title {
  padding-left: 2rem;
  padding-right: 2rem;
}

.article .view {
  text-align: right;
}

#current-users{
    flex:1;
    font-size: 1.5em;
}
#user-visits{
    flex:1;
    font-size: 1.5em;
}
#page-views{
    flex:1;
    font-size: 1.5em;
}
