body {
    background:black;
    color: white;
    font-family: Arial;
    margin: 1%;
    height: 1080px;
}

h2 {
    font-size: 2.5em;
    font-weight: 100;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
}

h3 {
    font-size: 2em;
    margin: 0;
    font-weight: 100;
}

p {
    font-size: 3em;
    padding-left: 5%;
    font-weight: 100;
    margin: 0;
}

.title-bar {
    display:flex;
    height: 11%;
    margin-bottom: 1%;
    flex: 1.5;
}

.title-bar div {
    justify-content: center;
    font-family: "Crimson Text";

}


#date {
    flex:1;
    margin: auto;
    padding-left: 3%;
    font-size:3em;
    color: #FFFFFF;
}

#title {
    flex:2;
    text-align: center;
    margin: auto;
    font-size:3.5em;
    color: #FFFFFF;
}

#time {
    flex:1;
    margin: auto;
    padding-right: 3%;
    text-align: right;
    font-size: 3em;
    color: #FFFFFF;
}


.container {
    clear:both;
    display:flex;
    flex: 1;
    margin-top:20px;
    height: 1080px;
}

.left-half{
    flex:2;
    order:1;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    border-color: #003333;
    margin-right: 20px;
    
}

.left-half-top{
    flex:2;
    border:solid;
    border-width: 5px;
    border-color: #003333;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.left-half-top-header{
    flex:1;
    background-color: #003333;
}

.left-half-top-chart{
    flex:6;
}


.left-half-bottom{
    display:flex;
    flex-direction:column;
    border:solid;
    border-width: 5px;
    border-color: #003333;
    flex:1;
    margin-top: 20px;
}

.Header{
    flex: 1;
    background-color: #003333;
}
.Stats-Items{
    flex: 2;
    display:flex;
    margin-top: 40px;
    margin-left: 80px;
}

#Stats1{
    font-size: 1.5em;
    color:gray;
}

#Stats2{
    font-size: 1.5em;
    color:gray;
}

#Stats3{
    font-size: 1.5em;
    color:gray;
}

.left-half div {
    justify-content: space-around;
}

#stats-time-range {
    color: #246e62;
    margin-left: 17px;
    margin-top: 30px;
}

.right-half{
    flex:2;
    order:1;
    display: flex;
    flex-direction: column;
    border:solid;
    border-width: 5px;
    border-color: #003333;
    margin-left: 20px;
}

.Stories-Header{
    flex:0.19;
    border:solid;
    border-color: #003333;
    background-color: #003333;
    font-weight: 50;
}

.Story-Header{
    color: #246e62;
    margin-top: 25px;
    margin-left: 25px;
}

.articles {
    margin-top: 2em;
    flex:2;
    display:flex;
    flex-direction: column;
}

.article {
    display:flex;
    font-size: 2.7em;
    margin-bottom: 0.8em;
    flex:1;
}

.title {
    flex:1;
    font-family: crimson-text;
    margin-left: 10px;
}

.view {
    margin-left: 0.7em;
}

#current-users{
    flex:1;
    font-size: 1.5em;
}
#user-visits{
    flex:1;
    font-size: 1.5em;
}
#page-views{
    flex:1;
    font-size: 1.5em;
}
